#marco {
    background-color: #A9CCE3;
    opacity: 0.8;
    }
#marco * {
    padding: 10px;
    
}
#subirN {
    position: relative;
    bottom: 30px;
    left: 15px;
}
#subirInputN {
    position: relative;
    bottom: 50px;
    left: 20px;
}
#subirE {
    position: relative;
    bottom: 70px;
    left: 15px;
}
#subirInputE {
    position: relative;
    bottom: 90px;
    left: 20px;
}
#subirP {
    position: relative;
    bottom: 110px;
    left: 15px;
}
#subirInputP {
    position: relative;
    bottom: 130px;
    left: 20px;
}

#btn{
    position: relative;
    
}


